nav {
  padding: 0;
  position: relative;
  left: 0;
  z-index: 9;
  width: 100%;
  background: #fff;
    position: relative;
    z-index: 9999;
}
nav .innermenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* normal menu css */
.main_menu{
    position: relative;
}
.main_menu > ul > li {
  display: inline-block;
  position: relative;
  margin: 0;
}
.main_menu ul li {
  position: relative;
}

.main_menu ul li a {
  font-size: 16px;
  color: #535353;
  padding: 10px 10px;
  display: block;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.main_menu ul li .active,
.main_menu ul li:hover > a {
  color: var(--hover-color);
}
/* Normal Dropdown menu */
.main_menu ul li ul {
  width: 200px;
  background: #fff;
  transition: 0.5s;
  box-shadow: 0px 5px 15px 0px rgba(212, 201, 201, 0.75);
}

.main_menu ul li ul li a {
  padding: 10px 25px;
  font-size: 15px;
}
.main_menu ul li ul li a i {
  float: right;
}

.main_menu ul li ul li ul {
  left: 100%;
  top: 0;
}

/* mega menu css */
.mega_menu_dropdown {
  position: static !important;
}
.mega_menu {
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s;
  border:1px solid #efefef;
  box-shadow: 0px 5px 15px 0px rgba(212, 201, 201, 0.75);
}
.mega_menu_item {
  width: 33.33%;
  padding: 10px 20px;
}
.main_menu ul li .mega_menu_item a {
  padding: 10px 0;
}

.main_menu ul li .mega_menu_item a:hover {
  color: var(--hover-color);
}
.mega_menu_item h3 {
  margin-bottom: 15px;
}
.mega_menu_item img {
  width: 100%;
}

/* demo_2 css */
.mega_menu_demo_2 .mega_menu {
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
}
.mega_menu_demo_2 .mega_menu .mega_menu_item {
  width: 50%;
  padding: 30px 20px;
}
.mobile_btn {
  display: none;
}
.mobile_btn span {
  height: 2px;
  position: relative;
  width: 30px;
  background: #fff;
  border-radius: 5px;
  display: block;
}
.mobile_btn span::after {
  content: "";
  bottom: -8px;
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /*transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, -webkit-transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear, -webkit-transform 0.2s linear;*/
  top: -8px;
}
.mobile_btn span::before {
  content: "";
  bottom: -8px;
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /*transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, -webkit-transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear, -webkit-transform 0.2s linear;*/
  width: 20px;
}
.fa-rotate-45{
    transform: rotate3d(0, 0, 1, -45deg);
}
/* responsive css */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
  .mega_menu_demo_2 .mega_menu {
    width: 940px;
  }
  .main_menu ul li ul {
    width: 150px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 720px;
  }
  .mega_menu_demo_2 .mega_menu {
    width: 700px;
  }
  .main_menu ul li a {
    font-size: 15px;
    padding: 20px 16px;
  }
  .main_menu ul li ul {
    width: 150px;
  }
}
@media (min-width: 768px) {
  .main_menu ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-top: 50px;
  }
  .main_menu ul li .mega_menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-top: 50px;
  }
  .main_menu ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    z-index: 99;
  }
  .main_menu ul li:hover > .mega_menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    z-index: 99;
  }
}

@media (max-width: 991px) {
    .mega_menu {
        left: 0%;
        transform: translateX(-0%);
        
        border: 1px solid #efefef;
        min-width: 368px;
        width: auto;
        max-width:100%;

    }
    .subitem a{
        border-bottom:0;
    }
  .mega_menu_demo_2 .mega_menu,
  .container {
    width: 100%;
  }

  
  .mobile_btn {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 99;
    top: -35px;
    right: 15px;
  }
  .fa-rotate-45::after {
      top: -1px !important;
      transform: rotate3d(0, 0, 1, -90deg);
  }
  .fa-rotate-45::before {
      display: none;
  }
  .main_menu {
    display: none;
    width: 100%;
    top: 15px;
    padding-bottom: 1rem;
  }

  .main_menu ul li {
    display: block;
  }
  .main_menu ul li a i {
    float: right;
  }
  .main_menu ul li a {
    border-top: 1px solid #ddd;
    padding: 10px 15px;
  }
  .main_menu ul li ul {
    width: 100%;
  }
  .main_menu ul li ul li ul {
    left: 0;
    top: auto;
  }

  .mega_menu .mega_menu_item {
    width: 50%;
  }
  .main_menu ul li ul {
    display: none;
    transition: none;
  }
  .main_menu ul li .mega_menu {
    display: none;
    transition: none;
  }

  .mega_menu_demo_2 .mega_menu {
    transform: translateX(0);
  }

  nav .innermenu{
    display: block;
    position: relative;
  }
  nav .innermenu::after{
    content: '';
    display: block;
    clear: both;
  }
}

@media (max-width: 575.98px) {
  .mega_menu .mega_menu_item {
    width: 100%;
  }
}